@import '../../../base.scss';

.content {
    padding: 20px 14px;
}

.cards {
    margin-top: 12px;
}

.first_card {
    margin-bottom: 20px;
}

.hue_box {
    display: none;
}

.other_cards {
    margin-top: 12px;
}

@media (min-width: 992px) { 
    // Large devices (desktops, 992px and up)
    .title {
        margin: 20px 0;

        > h3 {
            font-size: 30px;
            font-weight: 100;
        }
    }

    .hue_box {
        position: relative;
        display: block;
        // background-image: url('../../../assets/orange-hue.jpg');
        background-image: linear-gradient(to top, rgb(227, 111, 91), rgb(222, 77, 85));
        border: 1px solid #ed612b;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        text-align: center;
        font-size: 36px;
        color: white;

        padding-top: 47px;
    }

    .first_card {
        margin-bottom: 36px;
    }
    
    .card {
        margin-bottom: 20px;
    }

    .cards {
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;

        position: relative;
        border-radius: 5px;

        .other_cards {
            a {
                display: inline-block;
                width: calc(50% - 57px);
            
                &:nth-child(odd) {
                    margin-right: 20px;
                }
            }
        }
    }
}


@media (min-width: 1200px) { 
    .cards {
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 2*76px);
    }
}