@import '../../../base.scss';

.content {
    background-color: white;
    padding: 16px 12px;
    font-size: 14px;
    min-height: 80vh;
}

.title {
    font-size: 15px;
    margin-bottom: 12px;
    color: $almost_black;
}

.link_button {
    margin-bottom: 40px;
}

.attachment {
    margin: 30px auto;
}

.submission {
    margin: 40px auto 20px;
    text-align: center;

    .subtitle {
        color: $light_grey;
        font-size: 12px;
        margin: 0 20px 15px;
    }
}

.comments {
    margin: 10px 0;
    
    .subtext {
        font-size: 12px;
        margin-bottom: 12px;
        color: #353535;
    }

    .comment {
        -webkit-appearance: none;
        border: 1px solid $border_grey;
        border-radius: 2px;
        resize: vertical;
        margin: 0 auto;
        width: 100%;
        min-height: 80px;

        text-indent: 8px;
        padding: 8px 0;
        font-size: 13px;
        outline: none;

        &:focus, &:active {
            outline: none;
            border: 1px solid #999;
        }
    }
}

.warning_text {
    font-size: 12px;
    color: #d43227;
    margin-top: 4px;
    margin-left: 3px;
    background-color: #f8f1e3;
    padding: 8px 12px;
    margin: 15px 0px;
    border-radius: 3px;
}