@import '../../../base.scss';

.panel {
    background-color: white;
    margin: 0 0 14px;
    padding: 14px 14px;

    .title {
        font-size: 16px;
        color: $almost_black;
        margin-bottom: 12px;

        > div {
            display: inline-block;

            &:last-child {
                vertical-align: middle;
                padding-bottom: 5px;
            }
        }
    }

    .icon {
        background-position: center;
        background-size: 16px;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        vertical-align: middle;
        
        &.faq_icon {
            background-image: url('../../../assets/faq-icon.png');
        }

        &.cta_icon {
            background-image: url('../../../assets/refund-icon.png');
        }
    }

    &.highlighted a {
        > div {
            color: #3e92b2;
        }
        margin-top: 8px;
    }
}
