@import '../../base.scss';

.content {
    font-weight: bold;
    color: $almost_black;
    font-size: 15px;
    margin: 0;
}

@media (min-width: 992px) { 
    .content {
        font-size: 36px;
        font-weight: normal;
        color: #202020;
    }
}